[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shane Mooney (shanem)
[access "refs/for/refs/*"]
	read = group user/Shane Mooney (shanem)
	push = group user/Shane Mooney (shanem)
	label-Code-Review = -2..+2 group user/Shane Mooney (shanem)
	label-Verified = -1..+1 group user/Shane Mooney (shanem)
	rebase = group user/Shane Mooney (shanem)
	removeReviewer = group user/Shane Mooney (shanem)
	submit = group user/Shane Mooney (shanem)
[access "refs/heads/*"]
	read = group user/Shane Mooney (shanem)
	create = group user/Shane Mooney (shanem)
	push = +force group user/Shane Mooney (shanem)
	pushMerge = group user/Shane Mooney (shanem)
[access "refs/tags/*"]
	push = +force group user/Shane Mooney (shanem)
	pushTag = group user/Shane Mooney (shanem)
	pushSignedTag = group user/Shane Mooney (shanem)
